<footer class="site-footer">
    <div class="wrapper">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-1">
                <ul class="contact-list">
                    <li>
                        <a href="mailto:{{ site.email }}">
                            <i class="fa fa-envelope-o"></i> {{ site.email }}</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col  footer-col-2">
                <ul class="social-media-list">
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <i class="fa fa-github"></i>
                            <span class="username">{{ site.github_username }}</span>
                        </a>
                    </li>
                    {% endif %} {% if site.500px_username %}
                    <li>
                        <a href="https://500px.com/{{ site.500px_username }}">
                            <i class="fa fa-500px"></i>
                            <span class="username">{{ site.500px_username }}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="footer-col  footer-col-3">
                <p class="text">{{ site.description }}</p>
            </div>
        </div>
    </div>
</footer>
