<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">



	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="icon" 
	type="image/png" 
	href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAB6ElEQVRoQ+2a/U3DMBDF/dwFygR0Ayx3AdigG7RMAExARygTlBHYgLKAFSagI7BAc8gokVDVOPYlNqhc/q0/7ue792wnhTqTB2fCoQTkr2VSMiIZybQCSaVljJkBuOyKhYjeq6r65MQ6dOwkEGvtGsBjV6CHw+GmqqodB2To2AJyatUlI0opKa2mNEQjopEObxaNiEZkZw8fXEQjopH/oBEienDObZjH+A2AO+4VYdQjig+CiG6dc88pMNbaFYBtqE/fyToVpHfCVJgYCD/mqCD+OjqZTD5iVjsmM7EQo4P4Afv8PgaS02bUjLQBzOdzr4ElJyBunywgPpjSMNlASsNkBSkJkx2kFEwRkBJuVgzEw/h9Rmu94jgTgFnICYuCcADaPn37k4Ckrq4xZsp9Ex+jsSIZsdZuAZhmMtZnhV8vrQaiFXjFgTHGGK31K4BpkfvI8SRHEO3PSTAxEFlOvz9cxpdTl9VGwcRCNCAXIQ0mXawiIb6bEdEewD5kGkRkQuXU9iWiJ+fcfWisZBDvTlrrHYCrVGfjtPffJeu6vu5zxGSQZgcvAhML4WNigZSASYEYBJITJhViMEgOGA7EKCBjwhDRW13Xiz5hnzINtkaOB2vcbK2UWoT+HXEqCJ8FpdSLc873Zz1f5LtAUe3TefYAAAAASUVORK5CYII=" width="50" height="50">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
